<p>home works!</p>
<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Welcome to Home-Page</mat-card-title>  
  </mat-card-header>
  <mat-card-actions>
    <button mat-button style=
            "background-color:blue; 
             color:white"
             routerLink="list"> 
        Users List
    </button>
    <button mat-button style=
            "background-color:green; 
             color:white"
             routerLink="add">
        Add Users 
    </button>
    <button mat-button style=
            "background-color:rebeccapurple; 
             color:white"
             routerLink="more-users">
        One more Page 
    </button>
</mat-card-actions>
</mat-card>